<div class="card legend-fixed">
  <div class="card-body">
    <h5 class="card-title">Leyenda</h5>
    <ul class="legend">
      <li class="legend-item">
        <div class="legend-color legend-salsa"></div>
        <span>Salsa</span>
      </li>
      <li class="legend-item">
        <div class="legend-color legend-my-location"></div>
        <span>Mi ubicación</span>
      </li>
      <li class="legend-item">
        <div class="legend-color legend-salsa-bachata"></div>
        <span>Salsa y Bachata</span>
      </li>
    </ul>
  </div>
</div>
